.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 195px;
}

@media screen and (max-width: 630px) {
  .popup {
    padding-top: 123px;
  }
}
