.profile__add-picture {
  border: 2px solid white;
  background-image: url(../../../images/add-picture.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.profile__add-picture:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-image: url(../../../images/add-picture-hover.svg);
}

@media screen and (max-width: 630px) {
  .profile__add-picture {
    width: 282px;
    margin-top: 36px;
  }
}
